<div class="recap card hoverable">
  <div class="card-content" style="font-size: 12px;">
    <span class="card-title"> {{username}} </span>
    <div class="row">
      
      <div class="col">
        <div>
          <p class="right-align">Mese</p>
        </div>
        <div>
          <p class="right-align">Persi</p>
        </div>
        <div>
          <p class="right-align">Spesi</p>
        </div>
        <div>
          <p class="right-align">Rimanenti</p>
        </div>
      </div>
      <div class="col" style="margin:0;padding:0;">
        <div class="right-align">{{lastMonthTotalSchifezze|number_format(2, '.', '')}}</div>
        <div class="right-align">{{totalSchifezze|number_format(2, '.', '')}}</div>
        <div class="right-align">{{totalPrize|number_format(2, '.', '')}}</div>
        <div class="right-align">{{(totalSchifezze - totalPrize)|number_format(2, '.', '')}}</div>
      </div>
      <div class="col s1">
        <div>€</div>
        <div>€</div>
        <div>€</div>
        <div>€</div>
      </div>
    </div>
  </div>
</div>